* {
	box-sizing: border-box;
}

:root {
	--main-bg-color: rgba(255, 248, 225, 0.50);
}

html,
body {
	overflow-x: hidden !important;
	overflow-y: visible;
}

body {
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Google Sans, Raleway, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	min-height: 100vh;
	margin: 0;
	position: relative;
	overflow-y: hidden;
}

main {
	flex: 1 0 auto;
}

/*=== colors and backgrounds ===*/

.myco-primary {
	background-color: #214a7b;
}

.myco-primary-alt {
	background-color: #214a7b;
	background-image: url("/images/backgrounds/dot-theme.svg");
}

.myco-primary-text {
	color: #214a7b;
}

.myco-secondary {
	background-color: #fff8e1;
}


/*=== Utilities ===*/

.shadowless {
	box-shadow: none;
}

.section-header {
	margin: 20px;
}


/*=== Divider ===*/

.myco-divider .divider {
	width: 80%;
	margin: auto;
}

section.myco-divider .divider {
	background-color: rgba(243, 109, 41, 0.3);
	height: 1px;
}

/*=== Navigation ===*/

nav {
	position: absolute;
	top: 8px;
	right: 15%;
	height: 56px;
	line-height: 56px;
	width: 70%;
	border-radius: 8px;
	z-index: 10;
}

nav .nav__wrapper {
	display: flex;
	justify-content: space-between;
}

nav .nav__logo {
	position: relative;
	display: inline-flex;
	font-size: 3rem;
}

.nav__logo img {
	padding-right: 8px;
}

nav .nav__wrapper ul.nav-links li a {
	color: rgba(0, 0, 0, 0.87);
	font-size: 1.5rem;
	font-weight: 500;
}

nav .nav__wrapper ul.nav-links li a:hover {
	color: #4187be;
}


/*=== Sidenav ===*/

.sidenav {
	background-color: rgba(14, 14, 14, 0.95);
	width: 80vw;
}

.sidenav__links {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	align-items: center;
}

.sidenav__links--sidelink {
	margin: 15px;
}

.sidenav__links--sidelink a {
	color: rgba(255, 255, 255, 0.87);
	font-size: 2.5rem;
}

.sidenav__links--sidelink a:hover {
	text-decoration: underline;
}

.sidenav-close-icon {
	position: relative;
	top: 30px;
	left: 30px;
	z-index: 10;
}

.menu-wrap {
	position: relative;
	top: 60px;
	left: 40px;
	z-index: 100;
}

.close-icon {
	height: 60px;
	width: 60px;
}

/*=== landing ===*/

#main-landing {
	min-height: 85vh;
	width: 100vw;
}

.landing-container{
	width: 90%;
	padding-top: 40px;
}

.landing-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	top: 4vh;
	margin-top: 10%;
}

.landing-content-container {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.landing-content-container h1 {
	font-size: 3.5rem;
	line-height: 90%;
}

p.sub-header {
	font-size: 1.5rem;
}

.landing-cta p {
	font-size: 2rem;
}

.landing-cta {
	margin-top: 5%;
}


/*=== Contact ===*/


.form-section.card-panel {
	border-radius: 12px;
}

#contact_form h4 {
	padding: 10px;
}

.honeypot {
	display: none;
}

#contact_form .input-field .prefix~label {
	font-weight: 500;
	color: #21497B;
}

#contact_form .input-field .prefix.active {
	color: #21497B;
}

#contact_form input,
#contact_form textarea {
	position: relative;
	z-index: 900;
}

.contact-form-btn:hover {
	background-color: #ffe8c6;
}

.btn-submit:hover {
	background-color: rgba(33, 74, 123, 0.9);
}


/*=== Services ===*/


.service-card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-card .service-trigger {
	position: absolute;
	bottom: 15px;
	margin: auto;
	padding: 10px 16px;
	border-radius: 2px;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
}

.service-card .card-reveal {
	background-color: rgba(33, 74, 123, 0.85);
}

.service-card .card-reveal p {
	font-size: 1.2rem;
}

.residential {
	height: 400px;
	display: flex;
	justify-content: center;
	background-image: url('/images/residential-alt.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 12px;
}

.residential::before {
	position: absolute;
	content: 'Residential';
	font-size: 2.8rem;
	font-weight: 500;
	color: #fff;
}

.residential::after {
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: linear-gradient(40deg,
			rgba(67, 138, 243, 0.5),
			rgba(255, 242, 166, 0.5));
}

.commercial {
	height: 400px;
	background-image: url('/images/commercial.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 12px;
}

.commercial::before {
	content: 'Commercial';
	position: absolute;
	font-size: 2.5rem;
	font-weight: 500;
	color: #fff;
}

.commercial::after {
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: linear-gradient(40deg,
			rgba(67, 138, 243, 0.5),
			rgba(255, 242, 166, 0.5));
}

.service-trigger:hover {
	background-color: #ffe8c6;
	opacity: 0.90;
	transform: scale(1.1);
}

#covid {
	background-color: rgba(229, 115, 115, 0.65);
	border: 1px solid #e53935;
	border-radius: 12px;
}

.covid-message .card-image {
	margin: auto;
}

.covid-message .card-image img {
	height: 140px;
	margin: auto;
}

.info-icon {
	margin: 0px 6px 2px 0;
	vertical-align: bottom;
}

.epa-link {
	font-size: 1.2rem;
	margin-top: 12px;
}

.epa-link:hover {
	text-decoration: underline;
	text-decoration-color: rgba(33, 73, 123, 0.95);
}

.epa-link i {
	font-size: 1.2rem;
	vertical-align: middle;
}

.covid-message p {
	font-size: 1.3rem;
}

/*=== Method ===*/

.method-inner {
	margin: 20px;
}

.method-inner h2 {
	font-size: 2.5rem;
}

.spray-card {
	border-radius: 12px;
	border: 1px solid #214a7b;
	background-color: transparent;
}

.spray-card-figs {
	display: flex;
	justify-content: space-evenly;
}

figcaption {
	font-size: 1.4rem;
}

.spray-fig-text {
	font-size: 1.2rem;
}

.spray-card .spray-trigger {
	position: absolute;
	bottom: 4px;
	right: 4px;
	width: 40px;
	height: 40px;
	margin: 4px;
	cursor: pointer;
}

/*=== Consultation ===*/

.consultation-container {
	margin-top: 60px;
}

.consultation-container .card-panel {
	border-radius: 12px;
}

.consultation-card p {
	font-size: 2rem;
}

.contact-number:hover {
	text-decoration: underline;
}

.contact-number img {
	vertical-align: middle;
	padding-right: 8px;
}

.contact-link {
	background-color: #ffe8c6;
	padding: 12px;
	font-size: 1.4rem;
	font-weight: 500;
	border-radius: 2px;
}

.contact-link:hover {
	background-color: #ffe8c6;
	opacity: 0.90;
	transform: scale(1.1);
}



/*=== Footer ===*/


.myco-footer {
	margin: 20px;
}

footer {
	width: 100%;
}




/*=== Scroll ===*/

#scroll {
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	z-index: 100;
}

#scroll span {
	position: relative;
	height: 50px;
	width: 50px;
}

#scroll span img {
	position: absolute;
	top: 9px;
	left: 9px;
	height: 32px;
	width: 32px;
}

#scroll span:hover {
	background-color: rgba(33, 74, 123, 0.9);
	opacity: 1;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
	transform: scale(1.2);
}

#scroll:active {
	border: 0;
}

/*===Success-Page===*/

.success-container {
	width: 70%;
}

@media only screen and (max-width: 800px) {
	.success-container {
		width: 90%;
	}
}

.success-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: .5rem 2rem 1rem 2rem;
	background-color: #fff;
	border: 1px solid #214a7b;
	border-radius: 12px;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.success-card img {
	max-width: 100%;
	height: auto;
	margin: 24px;
}

.success-card span {
	font-size: 2.5rem;
	text-align: center;
	margin-top: 24px;
}

.success-card p {
	font-size: 1.5rem;
	text-align: center;
	margin: 24px;
}

#count {
	font-size: 1.5rem;
	font-weight: 500;
}

.success-card svg {
	width: 100px;
	display: block;
	margin: 40px auto 0;
}

.success-card svg .path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
}

.success-card svg .circle {
	-webkit-animation: dash 1.5s ease-in-out;
	animation: dash 1.5s ease-in-out;
}


.success-card svg .check {
	stroke-dashoffset: -100;
	-webkit-animation: dash-check 1.5s .35s ease-in-out forwards;
	animation: dash-check 1.5s .35s ease-in-out forwards;
}


@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}

	100% {
		stroke-dashoffset: 900;
	}
}

@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}

	100% {
		stroke-dashoffset: 900;
	}
}

/*=== media queries ===*/

@media only screen and (max-width: 600px) {
	nav .nav__logo {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 990px) {
	.landing-box.form-section {
		top: 0;
		margin-top: 4%;
	}
}

@media only screen and (max-width:992px) {
	.landing-content-container {
		margin-top: 0;
	}
}

@media only screen and (max-width:992px) {
	.landing-box {
		top: 0;
	}
}


@media only screen and (max-width: 600px) {
	.landing-content-container h1 {
		font-size: 2.8rem;
		line-height: 90%;
	}
}

@media only screen and (max-width: 600px) {
	.landing-cta p {
		font-size: 1.8rem;
		line-height: 90%;
	}
}

@media only screen and (max-width:1000px) {
	.covid-message .card-image img {
		height: 100px;
		margin: auto;
	}
}

@media screen and (max-width: 1000px) {
	.covid-holder {
		position: relative;
		top: 120px;
	}
}

@media screen and (max-width: 800px) {
	.card.horizontal.covid-message {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 700px) {
	.spray-card-figs {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 600px) {
	#contact_form .input-field .prefix ~ label,
	#contact_form .input-field .prefix ~ input,
	#contact_form .input-field .prefix ~ textarea {
	  margin-left: 0;
	  width: calc(100% - 1rem);
	}
}

@media only screen and (max-width: 800px) {
	.success-container {
		width: 90%;
	}
}