* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden !important;
	font-family: Raleway, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-display: swap;
	min-height: 100vh;
	height: 100%;
}

body {
	/* background-color: rgba(33, 73, 123, 0.951); */
	background-color: rgba(247, 251, 225, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	height: auto;
	margin: 0;
	position: relative;
	overflow-x: hidden;
}

main {
	flex: 1 0 auto;
}

section.neb-divider {
	padding: 0px;
	width: 100%;
}

section {
	width: 100vw;
}

section.neb-divider .divider {
	background-color: rgba(255, 164, 27, 0.920);
	height: 2px;
}

span.page_header {
	border-bottom: 2px solid #009688;
}

.shadowless {
	box-shadow: none;
}

h2.section-header {
	margin-bottom: 60px;
}

.myco-footer {
	margin: 20px;
}

footer {
	width: 100%;
	background-color: rgba(247, 251, 225, 1.0);
}

/* -------- Navigation ------- */

nav {
	position: absolute;
	top: 10px;
	display: flex;
	justify-content: center;
	background-color: rgba(247, 251, 225, 1.0);
	height: 56px;
	line-height: 56px;
	width: 70%;
	border-radius: 8px;
}

/* .navbar-fixed {
	position: absolute;
	top: 10px;
	display: flex;
	justify-content: center;
} */

.nav-wrapper.myco-nav-wrapper {
	display: flex;
	justify-content: space-around;
}

nav .myco-logo.brand-logo {
	position: relative;
	color: rgba(0, 0, 0, 0.87);
	/* display: inline-block; */
	font-family: Google Sans;
	font-size: 2.1rem;
	font-weight: 400;
	padding: 0;
}

nav .nav-wrapper ul.nav-links li a {
	color: rgba(0, 0, 0, 0.87);
	font-size: 1.2rem;
	font-weight: 400;
	font-family: Google Sans;
}

nav .nav-wrapper ul.nav-links li a:hover {
	color: rgba(15, 51, 255, 0.60);
	font-size: 1.3rem;
	font-weight: 400;
	font-family: Google Sans;
}

.sidenav.sNav {
	background-color: rgba(14, 14, 14, 0.900);
	width: 100vw;
}

.sidenav-links {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	align-items: center;
}

.sidenav-links a {
	color: rgba(255, 255, 255, 0.87);
	font-size: 3rem;
}

.sidenav-links a:hover {
	text-decoration: underline;
}

.sidelink {
	margin: 15px;
}

.sNav.sidenav-close {
	position: relative;
	top: 40px;
	left: 40px;
	z-index: 1000;
}

.menu-icon {
	position: relative;
	height: 60px;
	width: 60px;
	right: 60px;
}

.close-icon {
	height: 60px;
	width: 60px;
}

/* ---------Home landing--------- */

section#main-landing {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	min-height: 90vh;
	height: 100%;
	background-image: linear-gradient(to top, rgb(74, 144, 226), rgb(29, 67, 113));
}

.landing-text-header {
	font-size: 3rem;
	font-weight: 600;
}

.landing-text {
	font-size: 2rem;
	font-weight: 400;
}

.landing-section {
	width: 85%;
}

.landing-box {
	position: relative;
	top: 10vh;
}

@media screen and (max-width:1000px) {
	.landing-box {
		top: 8vh;
	}
}

.menu-wrap {
	position: relative;
	top: 40px;
	left: 40px;
	z-index: 100;
}

.covid-holder {
	position: relative;
	top: 120px;
	/* width: 60%; */
}

.covid-message .card-image {
	margin: auto;
}

.covid-message img {
	height: 200px;
	margin: auto;
}

.covid-message p {
	font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
	.covid-holder {
		position: relative;
		top: 120px;
	}
}

@media screen and (max-width: 800px) {
	.card.horizontal.covid-message {
		display: flex;
		flex-direction: column;
	}
}


/* ----------------#Method-------------------- */

section#method {
	width: 100%;
	height: 100vh;
}

#method .container {
	width: 80%;
}

.method-card {
	height: 450px;
}

.method-card:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.method-inner {
	margin: 20px;
}



/*--------------#Services----------------------*/

section#services {
	height: 100vh;
}

#services .section-header {
	padding-top: 60px;
}


.work-container {
	width: 90%;
	margin: auto;
}

.work-container .card-panel {
	padding: 10px;
}

.card #show-card.card-reveal {
	background-color: rgba(0, 0, 0, 0.85);
}

.activator:hover {
	cursor: pointer;
}


.flip-box {
	background-color: transparent;
	width: 100%;
	perspective: 1500px;
	/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.4s;
	transform-style: preserve-3d;
}

.more {
	display: none;
}

input:checked~.flip-box-inner {
	transform: rotateY(-180deg);
}

/* Position the front and back side */

.flip-box-front,
.flip-box-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

/* Style the front side */

.flip-box-front {
	background-color: transparent;
}

.flip-box-front::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(0deg,
			rgba(22, 53, 99, 0.5),
			rgba(255, 242, 166, 0.5));
}


/* Style the back side */

.flip-box-back {
	transform: rotateY(180deg);
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flip-box-back h4 {
	font-weight: 500;
}

.flip-box-front .card-image {
	max-height: 50%
}

.card.medium .card.service-card {
	position: relative;
	z-index: 1;
}

.flip-box-back .service-card {
	display: flex;
	flex-direction: column;
}

.card-action.service-card h1,
.card-action.service-card h2,
.card-action.service-card h3,
.card-action.service-card h4,
.card-action.service-card h5,
.card-action.service-card h6 {
	font-weight: 700;
}

.price-details-btn {
	position: relative;
	text-transform: none;
	top: 12px;
	font-size: 1.3rem;
}

.card .service-card ul.collection {
	border: none;
	padding: 2px;
	margin-bottom: 20px;
}

.card .service-card label.return {
	margin-top: 20px;
}

.service-card .collection-item {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 2px;
}

@media screen and (min-width:990px) and (max-width:1250px) {
	.service-card .collection-item {
		font-size: 1.1rem;
		font-weight: bold;
		padding: 2px;
	}
}

@media screen and (max-width:989px) {
	.service-card .collection-item {
		font-size: 1.2rem;
		width: 95%;
		margin: auto;
	}
}

.service-card .collection p {
	font-size: 1rem;
	font-weight: bold;
	padding: 2px;
}

.service-card .collection-item .secondary-content {
	color: rgba(0, 0, 0, 1);
}


.return i {
	position: relative;
	cursor: pointer;
}

.flip-box-front .card-content h3 {
	font-size: 2rem;
}


/*----------------#contact--------------------*/


/* section#contact {
	height: 100vh;
  } */

.form-section {
	margin: 10px 0 20px 0;
}

.form-section.card-panel {
	background-color: rgba(33, 74, 123, 0.8);
}

.honeypot {
	display: none;
}

#contact_form .input-field .prefix~label {
	color: #fff;
	font-weight: 500;
}

#contact_form input,
#contact_form textarea {
	color: #fff;
	position: relative;
	z-index: 900;
}

.form-submit {
	display: block;
}


#scroll {
	position: fixed;
	right: 6px;
	bottom: 10px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: rgba(33, 73, 123, 0.85);
	display: none;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px
}

#scroll span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -12px;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-bottom-color: #ffffff;
}

#scroll:hover {
	background-color: rgba(28, 56, 90, 0.95);
	opacity: 1;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
}

#scroll:active {
	border: 0;
}


/* background-color: rgba(0, 145, 158, 0.215); */
/* background-color: #6b13ee;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.52' fill-rule='evenodd'/%3E%3C/svg%3E"); */
/* background-color: #e7e3ee;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%236a27d6' fill-opacity='0.41' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-color: #0f33ff; */